.Home {
  width: 100%;
  min-height: calc(100vh - 60px);
  background: url("../../images/stars.svg"), #1b1b25;
  background-repeat: repeat;

  color: #ffffff;

  display: grid;
  grid-template: 1fr / 100px 300px 1fr 100px;
  grid-template-areas: ". text image .";
  align-items: center;
  justify-items: center;
}

.col-img {
  grid-area: image;
}

.col-img img {
  width: 100%;
}

.col-text {
  grid-area: text;
}

.col-text img {
  margin-bottom: 20px;
}
